<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>View</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <app-root></app-root>
  <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      const stripe   = Stripe('pk_test_51IDvFsChm9euINRUOgky8fis2l88uDsaDJtz8DoXdAeHZGb4M1G4pzV1CzLryfC2nrECJyLQTTabqfCUQi0HWc8200Nj2RgyrR');
      const elements = stripe.elements();
    </script>
</body>
</html>
